/* This is the style sheet for the Shae Lynch portfolio site.  The site is pretty simple so it only has the one style sheet for all of its stuff so this is a pretty long file. */

body {
  margin: 0em; 
  font-family: arial;  
}

.translate {
  position: fixed;
  margin-left: -2em;
  left: 100%;
  top: 0em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background-color: rgb(185,185,185);
  cursor: pointer;
}

div.translate:hover {
  background-color: rgb(155,155,155);
}

.translate p {
  color: black;
  font-weight: 200;
  font-family: sans-serif;
  font-style: italic;
  text-decoration: underline;
  margin: 0em;
}

/* header stuff */

.header {
  position: fixed;
  top: 0em;
  left: 0em;
  background-color: rgb(210,210,210);
  height: 6em;
  border-bottom: 0.4em solid rgb(185,185,185);
  width: 100%;
  display: table;
}

.header ul {
  display: inline-block;
  margin: 0em;
}

.header li {
  display: inline-block;
  margin: 0em;
}

.icon h1 {
  display: inline-block;
  padding-bottom: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.5em;
  border: 0.15em solid black;
  cursor: default;
}

ul.navbar {
  height: 4em;
  list-style: none;
  display: inline-block;
  margin: 0em;
}

.navbar li {
  display: inline-block;
  list-style: none;
  width: 5em;
  line-height: 3.5em;
  margin: 0em;
  text-align: center;
}

.navbar li:hover {
  font-weight: bold;
}

.navbar a {
  color: black;
  text-decoration: none;
}

/* intro section.  The first real element after the header. Present in all pages !Note this includes the compensation for the header so that it doesn't cut off the rest of the page */

.intro {
  min-height: 3.5em;
  border-bottom: 2px solid rgb(220,220,220);
  text-align: center;
  margin-top: 8em;
}

h2 {
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

/* Content section.  Only used for text based pages.  Most of this site is galleries so this is only used for the about page */

.content img {
  height: 40%;
  width: auto;
  border: 1px solid black;
  display: inline-block;
  float: left;
  margin: 0.66em;
  margin-right: 1.5em;
}

.content {
  margin: 0.66em;
  min-height: 45%;
}

.content div {
  display: inline-block;
}

.content-contact {
  text-align: center;
  width: 100%;
  padding: 0.66em;
}

.contact-btn {
  height: 2em;
  width: 11em;
  line-height: 2em;
  text-align: center;
  background-color: rgb(185,185,185);
  border: 0.25em solid rgb(155,155,155);
  border-radius: 0.33em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 2em;
  padding-left: 2em;
  color: black;
  text-decoration: none;
}

.contact-btn:hover {
  background-color: rgb(155,155,155);
  border: 0.25em solid rgb(185,185,185);
}

/* Gallery section.  The majority of most pages is galleries so this is important */

.gallery {
  border-top: 0.25em solid rgb(220,220,220);
  border-bottom: 0.25em solid rgb(220,220,220);
  background-color: rgb(230,230,230);
  padding: 0.66em;
  margin: 0em;
  display: inline-block;
  text-align: center;
}

.gallery ul {
  list-style: none;
  display: inline-block;
  padding-left: 0em;
}

.gallery li {
  display: inline-block;
  margin: 0.33em;
}

.gallery-image {
  height: 30em;
  width: auto;
  display: inline-block;
  border: 1px solid rgb(185,185,185);
  cursor: pointer;
}

.col-image {
  width: 80%;
  height: auto;
  display: inline-block;
  border: 1px solid rgb(185,185,185);
  cursor: pointer;
}

.sal-image {
  width: auto;
  height: 25em;
  display: inline-block;
  border: 1px solid rgb(185,185,185);
  cursor: pointer;
}
  
/*  The footer section.  Small but mighty, the only section anywhere on any page that includes contact info. */

.footer {
  border-top: 0.25em solid rgb(220,220,220);
  padding: 0.66em;
}

.footer p {
  float: left;
  margin-left: 0.66em;
}

ul.contact {
  display: inline-block;
  float: right;
  list-style: none;
  height: 2em;
}

.contact li {
  display: inline-block;
  list-style: none;
  height: 2em;
  line-height: 0em;
}

.contact a {
  color: #444;
}

.contact img {
  height: 2em;
}

.lightbox {
  background-color: rgba(0,0,0,0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0em;
  left: 0em;
  display: none;
  text-align: center;
  cursor: pointer;
}

.lightbox-heading {
  height: 6em;
  border-bottom: 0.25em solid rgba(200,200,200,0.9)
}

.lightbox-heading p {
  float: right;
  margin: 0em;
  width: 2.5em;
  padding: 1em;
  height: 3em;
  line-height: 3em;
  font-size: 2.5em;
  color: rgba(200,200,200,0.8);
  text-decoration: none;
}

.lightbox img {
  height: auto;
  width: auto;
  max-height: 85%;
  max-width: 100%;
  display: inline-block;
}


@media only screen and (max-width: 37.5em) {  
  .header {
    text-align: center;
  }
  
  .header ul {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media only screen and (max-width: 35.6em) {
  
  .gallery-image {
    width: 90%;
    height: auto;
  }
  
  .sal-image {
    width: 90%;
    height: auto;
  }
}

@media only screen and (max-width: 34.4em) {
  .intro {
    margin-top: 11.9em;
  }
}

@media only screen and (max-width: 26.9em) {
  .content img {
    float: none;
  }
  
  .content div {
    margin-left: 0em;
  }
  
  .content {
    text-align: center;
  }
}

@media only screen and (max-width: 25em) {
  .gallery {
    padding: 0em;
  }
}
